.contact_section {
    max-width: 1080px;
    margin: 0 auto;
  }

.contact_section h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    max-width: 60%;

}

.contact_section p{
    font-size: 16px;
    font-weight: 600;

}